<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lily Design - Itque Brochure </title>
    <link href="/css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Main Container -->
    <div class="container" style="margin-bottom: 100px">
        <!-- Header -->
        <header>
            <div>
                <a href="/">
                    <img src="/images/logo-w-letterhead-outl-bigger-72.png" />
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/portfolio/portfolio.html">Portolio</a></li>
                    <li><a href="/services.html">Services</a></li>
                    <li><a href="/shopping/shopping.html">Shopping</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div>
            <nav>
                <ul style="padding-left: 0; padding-top: 30px; padding-bottom: 15px;">
                    <li style="display: inline;"><a style="color: #066129" href="/portfolio/portfolio.html">Portolio</a>
                    </li>
                    <span style="color: #066129;">|</span>
                    <li style="display: inline;"><a style="color: #066129"
                            href="/portfolio/layouts/layouts.html">Layouts</a>
                    </li> <span style="color: #066129;">|</span>
                    <li style="display: inline;"><a style="color: #066129" href="#top">Itque Brochure</a></li>
                </ul>
            </nav>
        </div>

        <!-- Hero Section -->
        <div class="hero">
            <h2 class="hero-header" style="text-align: left; margin-left: 0; width: 100%;">Itque Brochure</h2>
        </div>

        <!-- Top Section -->
        <div style="display: flex">
            <!-- Images -->
            <div style="display: flex; flex-direction: column; margin-right: 15px; width: 49%;">
                <!-- Initial Sketch -->
                <div style="display: flex; flex-direction: row;">
                    <div>
                        <img style="width: 100%; height: 100%;" src="/portfolio/layouts/projects/image/itque-sketch-1.jpeg">
                    </div>
                    <div>
                        <img style="width: 100%; height: 100%;" src="/portfolio/layouts/projects/image/itque-sketch-2.jpeg">
                    </div>
                </div>

                <!-- The Rest of the Images -->
                <div style="display: flex; flex-direction: row; height: auto;">
                    <!-- logo -->
                    <div style="flex: 1;">
                        <img style="width: 100%; height: auto;"
                            src="/portfolio/layouts/projects/image/itque-logo-only-trans.png">
                    </div>

                    <div style="flex: 1; display: flex; flex-direction: column;">
                        <!-- logo title -->
                        <div style="flex-grow: 1;">
                            <img style="width: 100%; height: auto;margin-top: 20px;"
                                src="/portfolio/layouts/projects/image/ITque-title-transparent.png">
                        </div>
                        <!-- wire tree -->
                        <div style="display: flex; flex-direction: row;">
                            <div style="flex: 1;">
                                <img style="width: 80%; height: auto;"
                                    src="/portfolio/layouts/projects/image/wire-tre-new.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- overview / objective -->
            <div style="width: 49%;">
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Overview</h3>
                <p>This tri-fold brochure was voluntarily created for ITque, an IT services company, to provide
                    potential clients with a clear, concise overview of their offerings, values, and leadership. The
                    goal was to design a professional, approachable piece that aligns with ITque’s brand identity and
                    conveys their expertise.
                </p>

                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Objective</h3>
                <p>The primary objective was to present ITque’s services and corporate philosophy in an organized,
                    visually appealing manner. The brochure’s design concept was inspired by a clean, modern aesthetic
                    that communicates reliability and innovation, helping ITque make a strong impression in a
                    competitive industry. The theme of directional arrows and technology-inspired graphics underscores
                    ITque's commitment to guiding clients toward effective IT solutions.
                </p>
            </div>
        </div>

        <!-- Middle Section -->
        <div style="display: flex;">
            <!-- Process -->
            <div style="flex: 1; width: 49%;">
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Process</h3>
                <p>I structured the brochure with sections for services, leadership, philosophy, and contact details,
                    prioritizing readability and flow. I incorporated gradients, bold icons, and a cool blue color
                    palette with grey, orange and white accents. Their style guide was very minimal only including blue,
                    grey, and one type font with no other information. I added other accent colors such as the orange
                    and a secondary typeface to aid in adding more depth to their brand identity. The orange helps to
                    modernize their brand and the second typeface is more legible for large sections of text. I used
                    their website to capture assets and as further guidance on layout and style to create a
                    technology-forward, cohesive look. Balancing a lot of information in a small space was challenging;
                    I used visual hierarchy techniques to make the layout clear and accessible while ensuring a proper
                    amount of negative space so as to not overwhelm the viewer. 
                </p>
            </div>
            <!-- Images -->
            <div
                style="flex: 1; display: flex; flex-direction: column; padding-left: 20px; padding-top: 60px; width: 49%;">
                <div>
                    <img style="width: 100%; height: auto"
                        src="/portfolio/layouts/projects/image/itque-brochure-FM.jpg">
                </div>
                <div>
                    <img style="width: 100%; height: auto"
                        src="/portfolio/layouts/projects/image/itque-brochure-FM2.jpg">
                </div>
            </div>
        </div>

        <!-- Bottom Section -->
        <div style="display: flex;">
            <!-- Images -->
            <div style="flex: 1; display: flex; flex-direction: column; padding-right: 100px; padding-top: 60px; width: 49%;">
                <div>
                    <img style="width: 100%; height: auto"
                        src="/portfolio/layouts/projects/image/itque-brochure-mockup.jpg">
                </div>
            </div>

            <!-- Outcome -->
            <div style="flex: 1; width: 49%;">
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Outcome</h3>
                <p>The final brochure is visually engaging and well-organized, effectively highlighting ITque’s
                    strengths and services. ITque has expressed further interest in the design and wishes to expand the
                    design to other aspects of their brand identity such as updating their website. 
                </p>
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Personal Touch</h3>
                <p>I enjoyed exploring how design can convey expertise and trustworthiness, especially for a technical
                    field. This project taught me a lot about balancing text and visuals to keep technical content
                    appealing and easy to digest. The opportunity to design within a more professional context was
                    invaluable.
                </p>
            </div>
        </div>


        <!-- Main container ends -->
    </div>

    <!-- Footer Section -->
    <footer>
        <div style="align-self:center;">
            <span style="color: #033c19;">&copy;Lily Design 2024</span>
        </div>

        <div style="text-align: center;">
            <a href="/contact.html">
                <h3>Reach Out</h3>
            </a>
            <ul>
                <li>lilyformandesign@gmail.com</li>
                <li>+1 (650)-784-6494</li>
            </ul>
        </div>

        <div style="align-self:center;">
            <ul class="social-icons">
                <li><a href="https://www.instagram.com/willows.studi0/"><img src="/images/icon-insta.png"></a></li>
                <li><a href="https://www.linkedin.com/in/lily-forman-design/"><img src="/images/icon-in.png"></a></li>
            </ul>
        </div>
    </footer>
    <!-- Main Container Ends -->
    </div>
</body>

</html>