<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lily Design - Marian Bantjes</title>
    <link href="/css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Main Container -->
    <div class="container" style="margin-bottom: 100px">
        <!-- Header -->
        <header>
            <div>
                <a href="/">
                    <img src="/images/logo-w-letterhead-outl-bigger-72.png" />
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/portfolio/portfolio.html">Portolio</a></li>
                    <li><a href="/services.html">Services</a></li>
                    <li><a href="/shopping/shopping.html">Shopping</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div>
            <nav>
                <ul style="padding-left: 0; padding-top: 30px; padding-bottom: 15px;">
                    <li style="display: inline;"><a style="color: #066129" href="/portfolio/portfolio.html">Portolio</a>
                    </li>
                    <span style="color: #066129;">|</span>
                    <li style="display: inline;"><a style="color: #066129"
                            href="/portfolio/layouts/layouts.html">Layouts</a>
                    </li> <span style="color: #066129;">|</span>
                    <li style="display: inline;"><a style="color: #066129" href="#top">Marian Bantjes Magazine Spread</a></li>
                </ul>
            </nav>
        </div>

        <!-- Hero Section -->
        <div class="hero">
            <h2 class="hero-header" style="text-align: left; margin-left: 0; width: 100%;">Marian Bantjes Magazine
                Spread</h2>
        </div>

        <!-- Top Section -->
        <div style="display: flex">
            <!-- Images -->
            <div style="display: flex; flex-direction: column; margin-right: 15px; width: 49%;">
                <!-- Initial Sketch -->
                <div style="display: flex; flex-direction: row;">
                    <div>
                        <img style="width: 100%; height: 100%;" src="/portfolio/layouts/projects/image/IMG_1410.jpeg">
                    </div>
                </div>

                <!-- The Rest of the Images -->
                <div style="display: flex; flex-direction: row; height: auto;">
                    <!-- Salazar Student Rewards -->
                    <div style="flex: 1;">
                        <img style="width: 100%; height: 100%;"
                            src="/portfolio/layouts/projects/image/bantjes_2007_salazar.jpg">
                    </div>

                    <div style="flex: 1; display: flex; flex-direction: column;">
                        <!-- Marian's Face -->
                        <div style="flex-grow: 1;">
                            <img style="width: 100%; height: 100%; object-fit: cover;"
                                src="/portfolio/layouts/projects/image/bantjes_2017_by-Mark-Mushet2.jpg">
                        </div>

                        <!-- 3-Image Row -->
                        <div style="display: flex; flex-direction: row;">
                            <div style="flex: 1;">
                                <img style="width: 100%; height: 100%;"
                                    src="/portfolio/layouts/projects/image/bantjes_2014_wired-lovecure-1.jpg">
                            </div>
                            <div style="flex: 1;">
                                <img style="width: 100%; height: 100%;"
                                    src="/portfolio/layouts/projects/image/bantjes_2009_designindaba.jpg">
                            </div>
                            <div style="flex: 1;">
                                <img style="width: 100%; height: 100%;"
                                    src="/portfolio/layouts/projects/image/bantjes_2010_NYT-so.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- overview / objective -->
            <div style="width: 49%">
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Overview</h3>
                <p>This magazine spread was designed for a mock feature article on the graphic designer Marian Bantjes
                    who’s known for her ornate and maximalist typography and patterns.
                </p>

                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Objective</h3>
                <p>This magazine spread is meant to exhibit her work and convey the sense of whimsy in Bantjes’ work
                    through the layout. This was done by featuring her pieces boldly, most obviously on the first page.
                    The spread features some of her notable patterns and typography as well as featuring them in a
                    layout that persuades the reader’s eyes to view the whole spread.
                </p>

                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Personal Touch</h3>
                <p>I enjoyed the creative challenge of translating the artist’s abstract work into a functional layout,
                    learning new techniques for integrating complex visuals without compromising readability.
                </p>
            </div>
        </div>

        <!-- Middle Section -->
        <div style="display: flex;">
            <!-- Process -->
            <div style="flex: 1; width: 49%;">
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Process</h3>
                <p>This project was challenging as I struggled to identify the line between inspiration and copying,
                    especially since Bantjes’ style has similar aspects to my own. I went through many iterations and at
                    one point received a critique stating I had completely missed the mark. This served as a clarifying
                    moment and allowed me to meld my style with Marian Bantjes. I used one of the posters she had
                    designed as the title page on the left side of the spread replacing the text with the article title
                    and a quote from her. From there I used a 4x4 grid system on the right page of the spread making the
                    images of Bantjes’ work occupy the top left and bottom right corners and the text filling the center
                    section. As well as that I place a picture of Bantjes peeking out of some bushes in the middle of
                    the text, adding the playful effect of her seemingly peeking out of the text as well. Arranging her
                    picture in the center also created a diagonal line connecting all the images from top left to bottom
                    right creating a visual flow that parallels the typical western reading flow of going from top left
                    to bottom right.
                </p>

                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Outcome</h3>
                <p>The final spread is engaging and visually aligned with the artist’s aesthetic, successfully drawing
                    readers into the article. Feedback was positive, noting that the design’s boldness made the article
                    more inviting and memorable.
                </p>
            </div>
            <!-- Images -->
            <div style="flex: 1; display: flex; flex-direction: column; padding-left: 20px; padding-top: 60px; width: 49%;">
                <div>
                    <img style="width: 100%; height: 100%" src="/portfolio/layouts/projects/image/Magazine_Mockup_5.png">
                </div>
                <div>
                    <img style="width: 100%; height: auto"
                        src="/portfolio/layouts/projects/image/Magazine_Spread_MB-v2 (1) (2).jpg">
                </div>
            </div>
        </div>

        <!-- Bottom Section -->
        <!-- <div style="display: flex;"> -->
        <!-- Images -->
        <!-- <div style="flex: 1; display: flex; flex-direction: column; padding-right: 100px; padding-top: 60px;">
        <div>
          <img style="width: 100%; height: auto"
            src="/portfolio/branding/projects/images/LD_BC_Mockup_extended.jpg">
        </div>
        <div>
          <img style="width: 100%; height: auto" src="/portfolio/branding/projects/images/LD_LinkedIN_Banner_MockUp_V1 (1) copy.jpg">
        </div>
      </div> -->

        <!-- Outcome -->
        <!-- <div style="flex: 1">
        <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Outcome</h3>
        <p>The final logo and business card effectively communicated the intended ideas. I’ve received much feedback
          from peers who said they’ve greatly enjoyed my branding noting it as “unique, colorful, and passionate.” The
          unique design often sparks conversation and leaves a lasting impression, enhancing my professional networking
          efforts.</p>
      </div>
    </div> -->


        <!-- Main container ends -->
    </div>

    <!-- Footer Section -->
    <footer>
        <div style="align-self:center;">
            <span style="color: #033c19;">&copy;Lily Design 2024</span>
        </div>

        <div style="text-align: center;">
            <a href="/contact.html">
                <h3>Reach Out</h3>
            </a>
            <ul>
                <li>lilyformandesign@gmail.com</li>
                <li>+1 (650)-784-6494</li>
            </ul>
        </div>

        <div style="align-self:center;">
            <ul class="social-icons">
                <li><a href="https://www.instagram.com/willows.studi0/"><img src="/images/icon-insta.png"></a></li>
                <li><a href="https://www.linkedin.com/in/lily-forman-design/"><img src="/images/icon-in.png"></a></li>
            </ul>
        </div>
    </footer>
    <!-- Main Container Ends -->
    </div>
</body>

</html>