<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lily Design - Seeding the City</title>
    <link href="/css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Main Container -->
    <div class="container" style="margin-bottom: 100px">
        <!-- Header -->
        <header>
            <div>
                <a href="/">
                    <img src="/images/logo-w-letterhead-outl-bigger-72.png" />
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/portfolio/portfolio.html">Portolio</a></li>
                    <li><a href="/services.html">Services</a></li>
                    <li><a href="/shopping/shopping.html">Shopping</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div>
            <nav>
                <ul style="padding-left: 0; padding-top: 30px; padding-bottom: 15px;">
                    <li style="display: inline;"><a style="color: #066129" href="/portfolio/portfolio.html">Portolio</a>
                    </li>
                    <span style="color: #066129;">|</span>
                    <li style="display: inline;"><a style="color: #066129"
                            href="/portfolio/layouts/layouts.html">Layouts</a>
                    </li> <span style="color: #066129;">|</span>
                    <li style="display: inline;"><a style="color: #066129" href="#top">Seeding the City</a></li>
                </ul>
            </nav>
        </div>

        <!-- Hero Section -->
        <div class="hero">
            <h2 class="hero-header" style="text-align: left; margin-left: 0; width: 100%;">Seeding the City</h2>
        </div>

        <!-- Top Section -->
        <div style="display: flex">
            <!-- images -->
            <div style="display: flex; flex-direction: column; margin-right: 15px; width: 49%;">
                <!-- initial sketches -->
                <div style="display: flex; flex-direction: row;">
                    <div>
                        <img style="width:100%; height: 100%" src="/portfolio/layouts/projects/image/IMG_1066.jpeg">
                    </div>
                    <div>
                        <img style="width:100%; height: 100%" src="/portfolio/layouts/projects/image/Scan 4.png">
                    </div>
                </div>
                <!-- intermediate logo -->
                <div style="width: 100%;">
                    <img style="width:100%; height: 100%"
                        src="/portfolio/layouts/projects/image/view-new-york-city-manhattan-midtown-dusk-with-skyscrapers-illuminated-east-river.jpg">
                </div>
            </div>

            <!-- overview / objective -->
            <div style="width: 49%;">
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Overview</h3>
                <p>This poster design was created as part of a conceptual project focused on urban greening, aiming to
                    highlight the integration of nature within urban spaces.
                </p>

                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Objective</h3>
                <p>In the face of environmental destruction, thanks largely in part to human urbanization, I wanted to
                    create a poster that fostered hope. The idea was to create a cityscape that could be the inspiration
                    for the development of future skylines, one that integrates nature and highlights its beauty. I felt
                    it important to create positive imagery under the context of environmentalism as it is often a
                    dreary subjective. It’s important to be reminded not only what you’re fighting against but what you
                    are working towards. In this case, this poster reminds us we’re working towards a future with plant
                    life fully ingrained into our urban landscape.
                </p>
            </div>
        </div>

        <!-- Middle Section -->
        <div style="display: flex;">
            <!-- Process -->
            <div style="flex: 1; width: 49%;">
                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Process</h3>
                <p>This piece was made using a picture I took of a vase with flowers in it. The vase was actually a
                    repurposed daiquiri cup and the flowers are white and red carnations. Symbolically, red carnations
                    represent love, and white carnations are good luck. The combination of the two helps to add depth to
                    the poster’s meaning by symbolizing both the love for nature and urban environments and the wish for
                    luck in our endeavor towards uniting the two. 
                    <br>
                    <br>
                    One of the challenges of making the piece was how to get all elements– the building, cityscape, and
                    type– to look as though they belonged in the same image instead of separate item layered on top of
                    each other. To do this I employed a couple techniques. One of which was weaving the text through the
                    plants so they appeared to be interacting. I also gave the text a glowing affect like the flower
                    building and used a typeface that had a rough texture with some see through parts. This allowed the
                    backdrop to become more integrated through the text as well as having the same texture as concrete
                    walls you would see in an urban environment. Finally layered a texture over the whole image to unify
                    the piece and add more grunginess that can be associated with major cities.
                </p>

                <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Outcome</h3>
                <p>The final poster was one of six pieces from the College of San Mateo that were featured alongside
                    other posters in the Seeding the City International Exhibition. It is visually captivating and
                    successfully conveys the idea of blending nature with the urban landscape. It received positive
                    feedback for its unique and thought-provoking design, igniting conversations about the importance of
                    having hope for the future of the environment and ourselves.
                </p>
            </div>
            <!-- Images -->
            <div style="flex: 1; display: flex; flex-direction: column; padding-left: 200px; padding-top: 60px; width: 49%;">
                <div>
                    <img style="width: auto; height: 80%"
                        src="/portfolio/layouts/projects/image/seeding-the-city-poster_fin-mech.jpg">
                </div>
            </div>
        </div>

        <!-- Bottom Section -->
        <!-- <div style="display: flex;"> -->
        <!-- Images -->
        <!-- <div style="flex: 1; display: flex; flex-direction: column; padding-right: 100px; padding-top: 60px;">
        <div>
          <img style="width: 100%; height: auto"
            src="/portfolio/branding/projects/images/LD_BC_Mockup_extended.jpg">
        </div>
        <div>
          <img style="width: 100%; height: auto" src="/portfolio/branding/projects/images/LD_LinkedIN_Banner_MockUp_V1 (1) copy.jpg">
        </div>
      </div> -->

        <!-- Outcome -->
        <!-- <div style="flex: 1">
        <h3 style="color: #DA1E51; font-weight: normal; font-size: 3rem;">Outcome</h3>
        <p>The final logo and business card effectively communicated the intended ideas. I’ve received much feedback
          from peers who said they’ve greatly enjoyed my branding noting it as “unique, colorful, and passionate.” The
          unique design often sparks conversation and leaves a lasting impression, enhancing my professional networking
          efforts.</p>
      </div>
    </div> -->


        <!-- Main container ends -->
    </div>

    <!-- Footer Section -->
    <footer>
        <div style="align-self:center;">
            <span style="color: #033c19;">&copy;Lily Design 2024</span>
        </div>

        <div style="text-align: center;">
            <a href="/contact.html">
                <h3>Reach Out</h3>
            </a>
            <ul>
                <li>lilyformandesign@gmail.com</li>
                <li>+1 (650)-784-6494</li>
            </ul>
        </div>

        <div style="align-self:center;">
            <ul class="social-icons">
                <li><a href="https://www.instagram.com/willows.studi0/"><img src="/images/icon-insta.png"></a></li>
                <li><a href="https://www.linkedin.com/in/lily-forman-design/"><img src="/images/icon-in.png"></a></li>
            </ul>
        </div>
    </footer>
    <!-- Main Container Ends -->
    </div>
</body>

</html>