<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lily Design - Layouts</title>
    <link href="/css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Main Container -->
    <div class="container">
      <!-- Header -->
      <header>
        <div>
          <a href="/">
            <img src="/images/logo-w-letterhead-outl-bigger-72.png" />
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/portfolio/portfolio.html">Portolio</a></li>
            <li><a href="/services.html">Services</a></li>
            <li><a href="/shopping/shopping.html">Shopping</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>

      <!-- Hero Section -->
      <div class="hero">
        <h2 class="hero-header">Layouts</h2>
      </div>

      <!-- Gallery Section -->
      <div class="gallery">
        <div class="thumbnail">
          <a href="/portfolio/layouts/projects/seeding-city.html"><h3>Seeding the City Poster</h3></a>
          <a href="/portfolio/layouts/projects/seeding-city.html"><img src="/portfolio/layouts/images/SC-FM-mockup.jpg" alt="Lily Forman Protrait" width="2000" class="cards" /></a>
          <section><a href="/portfolio/layouts/projects/seeding-city.html">see more</a></section>
        </div>
        <div class="thumbnail">
          <a href="/portfolio/layouts/projects/marian-bantjes.html"><h3>Marian Bantjes Magazine Spread</h3></a>
          <a href="/portfolio/layouts/projects/marian-bantjes.html"><img src="/portfolio/layouts/images/Magazine_Mockup_5.png" alt="Lily Forman Protrait" width="2000" class="cards" /></a>
          <section><a href="/portfolio/layouts/projects/marian-bantjes.html">see more</a></section>
        </div>
        <div class="thumbnail">
          <a href="/portfolio/layouts/projects/itque-brochure.html"><h3>Itque Brochure</h3></a>
          <a href="/portfolio/layouts/projects/itque-brochure.html"><img src="/portfolio/layouts/images/itque-brochure-mockup.jpg" alt="Lily Forman Protrait" width="2000" class="cards" /></a>
          <section><a href="/portfolio/layouts/projects/itque-brochure.html">see more</a></section>
        </div>
        <div class="thumbnail">
          <a href="/portfolio/layouts/projects/creators-raffle.html"><h3>Creator's Raffle Movie Poster</h3></a>
          <a href="/portfolio/layouts/projects/creators-raffle.html"><img src="/portfolio/layouts/images/movieposter-redo-mockup-v4.2.jpg" alt="Lily Forman Protrait" width="2000" class="cards" /></a>
          <section><a href="/portfolio/layouts/projects/creators-raffle.html">see more</a></section>
        </div>
        <div class="thumbnail">
          <a href="/portfolio/layouts/projects/kamunsil-cd.html"><h3>Kamunsil CD Cover</h3></a>
          <a href="/portfolio/layouts/projects/kamunsil-cd.html"><img src="/portfolio/layouts/images/Kamunsil-CD-Mockup-v2.jpg" alt="Lily Forman Protrait" width="2000" class="cards" /></a>
          <section><a href="/portfolio/layouts/projects/kamunsil-cd.html">see more</a></section>
        </div>
      </div>
    </div>

  <!-- Footer Section -->
  <footer>
    <div style="align-self:center;">
      <span style="color: #033c19;">&copy;Lily Design 2024</span>
    </div>

    <div style="text-align: center;">
      <a href="/contact.html">
        <h3>Reach Out</h3>
      </a>
      <ul>
        <li>lilyformandesign@gmail.com</li>
        <li>+1 (650)-784-6494</li>
      </ul>
    </div>

    <div style="align-self:center;">
      <ul class="social-icons">
        <li><a href="https://www.instagram.com/willows.studi0/"><img src="/images/icon-insta.png"></a></li>
        <li><a href="https://www.linkedin.com/in/lily-forman-design/"><img src="/images/icon-in.png"></a></li>
      </ul>
    </div>
  </footer>

    <!-- Main Container Ends -->
    </div>
  </body>

</html>